
<h1>Currency Converter</h1>
<div>
  <div>
    <label>Amount:</label>
    <input [formControl]="amt" type="number" (change)="amtValuChange(amt)"/>
  </div>
  <label>From Currency:</label>
  <select [formControl]="fromCurrency" (change)="fromCurrencyChange(fromCurrency)">
    @for(currency of service.currencies(); track currency.code) {
      <option [value]="currency.code"> {{currency.name}}</option>
    }
  </select>
  
  <label>To:</label>
  <select [formControl]="toCurrency" (change)="toCurrencyChange(toCurrency)">
    @for(currency of service.currencies(); track currency.code) {
      <option [value]="currency.code">{{currency.name}}</option>
    }
  </select>
  

  <p>
    {{ amt.value }} {{ fromCurrency.value }} is equal to {{ service.calculateVal() }} {{ toCurrency.value }}
  </p>

  

</div>
